<!-- حالت اول -->
<!-- <div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1>Stadium Seat Booking</h1>
            <div *ngIf="!loading; else loadingTemplate">
                <div class="stadium-map">
                    <div class="seat-row" *ngFor="let row of stadiumMap; let i = index">
                        <div class="seat" *ngFor="let seat of row; let j = index"
                            [ngClass]="{'reserved': seat === 1, 'available': seat === 0}" (click)="selectSeat(i, j)">
                            {{ seat === 0 ? 'Available' : 'Reserved' }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loadingTemplate>
    <div class="text-center mt-5">
        Loading stadium map...
    </div>
</ng-template> -->

<!-- حالت دوم -->
<app-salons-list></app-salons-list>